* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* text-align: center; */
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Happy Monkey', cursive;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(./Images/num3.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-btn {
    background: #103b0e;
    border-radius: 15px;
    opacity: 1;
    margin-left: 3rem;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
}

.start-btn:hover {
    background-color: #20521e;
}

.rules {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 15;
    line-height: 2;
    font-size: 16px;
}

.close {
    position: absolute;
    top: 1.6rem;
    right: 3rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    background: none;
}

.close:hover {
    background-color: red;
    transform: rotate(180deg);
    transition: 0.5s;
}

.start {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: linear-gradient(to bottom left, rgba(0 0 0 0.3), rgba(0 0 0 0.3));
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
}

/* LAYOUT */
main {
    position: relative;
    width: 100rem;
    height: 60rem;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
}

.player {
    flex: 50%;
    padding: 9rem;
    display: flex;
    background-color: #90b67d;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
}

/* ELEMENTS */
.name {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
}


.player--active {
    background-color: rgba(197, 211, 191, 0.4);
}

.player--active .name {
    font-weight: 700;
}

.player--active .current {
    opacity: 1;
}

.current {
    background-color: #598941;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
}

.current-label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #ddd;
}

.current-score {
    font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
    position: absolute;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;

    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;
    height: 4rem;

    background-color: rgb(227, 232, 227);
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}


.btn--new {
    top: 8.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Happy Monkey', cursive;
    font-size: 4rem;
    text-transform: uppercase;
    transition: all 0.2s;
    padding: 0.7rem 2.5rem;

}

.message {
    top: 23rem;
    position: absolute;
    left: 74%;
    transform: translateX(-50%);
    font-family: 'Happy Monkey', cursive;
    font-size: 2.2rem;
    transition: all 0.2s;
}

.thinking {
    left: 84%;
    height: 3rem;
    width: 3rem;
    animation: rotation 3s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.btn--roll {
    cursor: auto;
    top: 23.3rem;
    left: 22%;
    width: 17rem;
}

.btn--hold {
    top: 23.3rem;
    left: 34%;
}

.btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: none;
}

.dice {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 20rem;
    border-radius: 9px;
    transform: translateX(-50%);
    height: 10rem;
    width: 10rem;
    background-color: #598941;
    color: white;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
    background-color: #2f2f2f;
}

.player--winner .name {
    font-weight: 700;
    color: #598941;
}

.end{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: linear-gradient(to bottom left, rgba(0 0 0 0.3), rgba(0 0 0 0.3));
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
}

.won{
    background-color: green;
}

.lost{
    background-color: rgb(159, 0, 0);
}


.hidden {
    display: none;
}